/* ROOT STYLES 
---------------------------------*/
:root {
  --brown: #bc6c25;
  --light-brown: #dda15e;
  --light-brown-overlay: rgb(221 162 94 / 0.45);
  --off-white: #f9f2e4;
  --light-green: #bcbd8b;
  --green: #606c38;
  --dark-green: #283618;
}

/* CSS RESET 
---------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

/* GLOBAL STYLES 
---------------------------------*/
a {
  text-decoration: none;
}

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

.btn,
.project-btn,
.form-btn {
  font-family: inherit;
  background-color: var(--dark-green);
  color: var(--light-green);
  padding: 1rem 2rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
  cursor: pointer;
  width: fit-content;
}

.btn:hover,
.project-btn:hover,
.form-btn:hover {
  background-color: var(--green);
  color: var(--off-white);
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

img {
  border-radius: 20px;
}

/* NAVIGATION STYLES 
---------------------------------*/
nav {
  background-color: var(--dark-green);
  color: var(--light-green);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 2em;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: right;
  gap: 2rem;
}

nav li {
  margin: 0 1rem;
}

nav ul li {
  display: inline;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: var(--light-green);
}

nav a {
  color: var(--light-green);
  text-decoration: none;
}

nav a:hover {
  color: var(--off-white);
}

/* ABOUT STYLES 
---------------------------------*/
.profile-img {
  width: 200px;
  border-radius: 50%;
  border: 3px solid var(--brown);
}
.about-container {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, white 100%), 
              url("../images/background.jpg") no-repeat center center/cover;
  padding: 4rem;
}

.about-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background-color: var(--off-white);
  width: 50%;
  border-radius: 20px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
}

/* PROJECT STYLES 
---------------------------------*/
.project-preview-container {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}

.project-preview-container h1 {
  margin-top: 2rem;
  margin-left: 6rem;
}

.project-preview {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 90vw;
  margin: 1rem auto;
}

.img-preview {
  width: 100%;
  transition: transform 0.3s ease;
}

.project-btn {
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem 10rem;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

.project-info ul {
  width: 80%;
  margin-left: 2rem;
}

.lithaven {
  grid-column: 2;
}

.alt-project-img {
  grid-column: 2;
}

.alt-info {
  grid-column: 1;
  grid-row: 1;
}

/* EXPERIENCE STYLES 
---------------------------------*/
.experience-container {
  width: 82%;
  margin: 2rem auto;
}

.work-item {
  display: grid;
  grid-template-columns: 350px 1fr;
  column-gap: 20px;
}

.work-item p {
  font-style: italic;
  grid-column: 1;
}

.work-item ul {
  grid-column: 2;
  margin-left: 1rem;
}

.work-experience {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 10rem;
  padding: 2rem;
  background-color: var(--off-white);
  border-radius: 10px;
}

.location,
.date {
  font-style: italic;
}

/* Education */
.education {
  display: flex;
  flex-direction: column;
  margin: 2rem 10rem;
  padding: 2rem;
  background-color: var(--off-white);
  border-radius: 10px;
}

.education h3,
p {
  margin: 0.5rem 0;
}

.education p {
  font-style: italic;
}

/* FOOTER STYLES 
---------------------------------*/
footer {
  background-color: var(--dark-green);
  color: var(--light-green);
  text-align: center;
  padding: 2rem;
}

footer h2 {
  text-shadow: none;
}

footer a {
  color: var(--light-green);
}

footer a:hover {
  color: var(--off-white);
}

.socials {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.socials i {
  width: 32px;
}

/* MEDIA QUERIES 
---------------------------------*/
@media (max-width: 1745px) {
  .project-img {
    width: 99%;
    align-self: center;
  }

  .project-container {
    padding: 2rem 6rem;
  }
}

@media (max-width: 1450px) {
  .about-card {
    width: 60%;
  }
  .project-container {
    padding: 2rem 4rem;
  }
}

@media (max-width: 1200px) {
  .about-card {
    width: 90%;
  }

  .project-img {
    width: 100%;
    align-self: center;
  }

  .project-container {
    padding: 2rem 8rem;
  }

  .project {
    display: flex;
    flex-direction: column;
  }

  .work-experience,
  .education {
    margin: 1rem;
  }

  .work-item {
    display: flex;
    flex-direction: column;
  }

  .contact-container {
    margin: 4rem;
  }

  .contact-container h1 {
    margin: 2rem;
  }

  .contact {
    margin: 2rem;
    padding: 2rem;
  }
  #contact-form input,
  #contact-form textarea {
    width: 80%;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 0.95rem;
  }

  nav ul {
    display: none;
    flex-direction: column;
    gap: 10px;
  }

  .hamburger {
    display: flex;
  }

  nav.active ul {
    display: flex;
  }

  .menu-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--dark-green);
  }

  .about-container {
    padding: 2rem;
  }

  .about-card {
    width: fit-content;
    padding: 2em;
  }

  .project-preview-container h1 {
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .project-preview {
    flex-direction: column;
  }

  .project-container {
    padding: 2rem 3rem;
  }

  .work-experience,
  .education {
    margin: 1rem;
  }

  .work-item {
    display: flex;
    flex-direction: column;
  }

  .contact-container {
    margin: 0;
  }

  .contact-container h1 {
    margin: 2rem;
  }

  .contact {
    margin: 2rem;
    padding: 2rem;
  }

  #contact-form input,
  #contact-form textarea {
    width: 90%;
  }
}

@media (max-width: 545px) {
  body {
    font-size: 0.8rem;
  }

  nav ul {
    display: none;
    flex-direction: column;
    gap: 10px;
  }

  .hamburger {
    display: flex;
  }

  nav.active ul {
    display: flex;
  }

  .menu-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--dark-green);
  }

  .about-container {
    padding: 1rem;
  }

  .about-card {
    padding: 1em;
  }

  .project-preview-container h1 {
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .project-preview {
    flex-direction: column;
  }

  .project-container {
    padding: 2rem 3rem;
  }

  .work-experience,
  .education {
    margin: 1rem;
  }

  .work-item {
    display: flex;
    flex-direction: column;
  }

  .socials {
    flex-direction: column;
    gap: 1em;
  }

  .contact-container {
    margin: 0;
  }

  .contact-container h1 {
    margin: 2rem;
  }

  .contact {
    margin: 2rem;
    padding: 2rem;
  }
}
